<mat-card class="bg-success bg-opacity-10 p-4">
  <mat-card-title class="text-center mb-2">
    @if(userType === 'patient'){
      <h3 class="fw-bold  text-success">Clinic Care</h3>
    }
    <span class="text-muted">
      {{ userType === 'patient' ? 'Register' : 'Add Doctor' }}
    </span>
  </mat-card-title>

  <form [formGroup]="userType === 'patient' ? patientForm : doctorForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 col-md-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
    </div>

    @if (userType === 'patient') {
      <div class="row">
        <div class="col-12 col-md-6 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date of Birth</mat-label>
            <input
              matInput
              [matDatepicker]="dobPicker"
              formControlName="dob"
              [min]="minDob"
              [max]="maxDob"
            />
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" />
          </mat-form-field>
        </div>
      </div>
    } @else {
      <div class="row">
        <div class="col-12 col-md-6 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date of Joining</mat-label>
            <input
              matInput
              [matDatepicker]="joinPicker"
              formControlName="dateOfJoining"
              [min]="minDob"
              [max]="maxDob"
            />
            <mat-datepicker-toggle matSuffix [for]="joinPicker"></mat-datepicker-toggle>
            <mat-datepicker #joinPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div formGroupName="doctorDetails">
        <div class="row">
          <div class="col-12 col-md-6 ">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Specialization</mat-label>
              <input matInput formControlName="specializationId" />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 ">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fee</mat-label>
              <input matInput type="number" formControlName="fee" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 ">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                [matDatepicker]="docDobPicker"
                formControlName="dob"
                [min]="minDob"
                [max]="maxDob"
              />
              <mat-datepicker-toggle matSuffix [for]="docDobPicker"></mat-datepicker-toggle>
              <mat-datepicker #docDobPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 ">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>First Practice Date</mat-label>
              <input
                matInput
                [matDatepicker]="practicePicker"
                formControlName="firstPracticeDate"
                [min]="minDob"
                [max]="maxDob"
              />
              <mat-datepicker-toggle matSuffix [for]="practicePicker"></mat-datepicker-toggle>
              <mat-datepicker #practicePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    }

    <button
      mat-raised-button
      class="w-100 bg-success text-white"
      [class.opacity-50]="userType === 'patient' ? patientForm.invalid : doctorForm.invalid"
      [disabled]="userType === 'patient' ? patientForm.invalid : doctorForm.invalid"
    >
      Register
    </button>
  </form>
</mat-card>
