<mat-card class="bg-success bg-opacity-10 p-4">

  <mat-card-title class="text-center mb-4">
    <h3 class="fw-bold mb-1 text-success">Clinic Care</h3>
    <span class="text-muted">Login</span>
  </mat-card-title>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button
      mat-raised-button
      class="w-100 bg-success text-white"
      [class.opacity-50]="form.invalid"
      [disabled]="form.invalid"
    >
      Login
    </button>

  </form>

</mat-card>
