.auth-card {
  max-width: 450px;
  margin: 40px auto;
  padding: 24px;
  display: block; 
}

mat-form-field {
  display: block !important;
  width: 100% !important;
  min-width: 280px;
  flex-shrink: 0;
}

mat-radio-group {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}