<mat-nav-list class="px-2">

  @for (item of menu[role()]; track item.label) {

    @if (!item.children) {
      <a
        mat-list-item
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        class="rounded-3 my-1"
      >
        {{ item.label }}
      </a>
    }

    @if (item.children) {
      <mat-expansion-panel
        class="shadow-none border-0"
        [expanded]="isExpanded(item)"
      >

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.label }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        @for (child of item.children; track child.label) {
          <a
            mat-list-item
            [routerLink]="child.link"
            routerLinkActive
            #crla="routerLinkActive"
            [activated]="crla.isActive"
            [routerLinkActiveOptions]="{ exact: true }"
            class="ps-4 rounded-3 my-1"
          >
            {{ child.label }}
          </a>
        }

      </mat-expansion-panel>
    }

  }

</mat-nav-list>
